/* ============================================================================
** Filter styles
==============================================================================*/

.filter {
    margin: 2em auto;
    max-width: 100%;
    position: relative;

    @include tabletUp {
        max-width: 400px;
    }

    &__multiselect {
        background-color: $white;
        color: $text-black-l60;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        border: 1px solid $bg-black-l60;
        border-radius: 4px;
    }

    &__categories {
        background-color: $white;
        border: 1px solid $bg-black-l80;
        border-radius: 4px;
        box-shadow: 2px 6px 18px -3px rgba($bg-black, 0.75);
        margin-top: 5px;
        padding: 1em 0.5em;
        height: 250px;
        width: 100%;
        overflow-y: auto;
        position: absolute;
        z-index: -1;
        transition: all .2s ease-in-out;
        opacity: 0;
        outline: 0;

        &.is-active {
            z-index: 2;
            opacity: 1;
        }
    }
}