/* ============================================================================
** Hero banner styles
==============================================================================*/

$paddingLinks: 5px;

.hero-banner {
    background-image: url($hero-banner);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}