/* ============================================================================
** Hero banner styles
==============================================================================*/

.hero-banner {
    background-image: url($hero-banner);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 600px;

    @include desktopUp {
        min-height: 650px;
    }

    @include widestscreenUp {
        min-height: 850px;
    }
}