/* ============================================================================
** Long seach styles
==============================================================================*/

$paddingLinks: 5px;

.long-search {
    background: lawngreen;
    padding: 1em;
    position: relative;

    &__multiselect {
        background-color: $white;
        color: $text-black-l60;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        border: 1px solid $bg-black-l80;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
        }
        
        @include tabletUp {
            border-radius: 6px 0 0 6px;
        }
    }

    &__categories {
        background-color: $white;
        border: 1px solid $bg-black-l80;
        border-radius: 4px;
        box-shadow: 2px 6px 18px -3px rgba($bg-black, 0.75);
        margin-top: 5px;
        padding: 1em 0.5em;
        height: 250px;
        width: 90%;
        overflow-y: auto;
        position: absolute;
        z-index: -1;
        transition: all .2s ease-in-out;
        opacity: 0;
        outline: 0;

        @media (min-width: 352px) {
            width: calc(100% - 29px)
        }

        @include mobileUp {
            width: 94%;
        }

        &.is-active {
            z-index: 2;
            opacity: 1;
        }
    }

    &__job-title {
        margin-top: 0.5em;
        position: relative;

        @include tabletUp {
            margin-top: 0;
        }
    }

    &__input {
        padding: 1em;
        width: 100%;
        border: 1px solid $bg-black-l80;
        border-radius: 4px;

        @include tabletUp {
            border-radius: 0 4px 4px 0;
        }

        &::placeholder {
            color: $text-black-l60;
        }
    }

    &__search-icon {
        background-color: $bg-orange;
        color: $white;
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        right: 0;
        height: 58px;
        width: 58px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: 0 4px 4px 0;
        box-shadow: 0;

        &:hover {
            background-color: $bg-orange-d5;
            cursor: pointer;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
    }

    &__item {
        margin-right: 0.5em;
        padding: $paddingLinks;

        &:first-child {
            color: $white;
            font-weight: 700;

            &:hover {
                background-color: transparent;
            }
        }

        &:hover {
            background-color: $bg-orange-d5;
            border-radius: 4px;
            padding: $paddingLinks;
            cursor: pointer;
        }
    }

    &__link {
        color: $white;

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}