/* ============================================================================
** HTML Defaults
==============================================================================*/

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: $font-size-base; // this will affect all 'rem' and 'em' based units
}

body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: $font-primary;
	color: $text-black;
}

h1 {
	font-family: $font-secondary;
	font-size: 2.5rem;
	font-weight: 700;

	@include tabletUp {
		font-size: 3rem;
	} 

	@include desktopUp {
		font-size: 3.5rem;
	}
}

h2 {
	color: $bg-orange-d5;
	font-size: 1.6rem;
	font-weight: 700;

	@include tabletUp {
		font-size: 1.875rem;
	}
}

h3 {
	font-family: $font-secondary;
	font-size: 1.563rem;
	font-weight: 500;
}

h4 {
	font-size: 1.25rem;
	color: $text-orange-d5;
}

h5 {
	font-size: 1.125rem;
	font-weight: 700;
}

h6 {
	font-size: 1rem;
	font-weight: 700;
}

a {
	color: $text-orange;

	&:hover {
		color: $text-orange-d5;
	}
}