/* ============================================================================
** Global Classes
==============================================================================*/

.block-section {
	min-height: 400px;
}

.block-spaces {
	margin-top: 4em;

	@include desktopUp {
		margin-top: 6em;
	}
}

.prescreened {
	color: $text-accent;
	font-size: pxToRem(14px);
}